<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

    <!-- GWT drake genetics service -->
    <servlet>
        <servlet-name>drakeGeneticsGWTServlet</servlet-name>
        <servlet-class>org.jax.drakegenetics.server.DrakeGeneticsServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>drakeGeneticsGWTServlet</servlet-name>
        <url-pattern>/drakegenetics/drakegeneticsservice</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>Location of the Drake Quest Library documents</description> 
        <param-name>library.home</param-name>
        <param-value>/Users/dow/Documents/workspace/CGDEDU/drake-genetics/modules/drake-genetics-server/build/www/Library</param-value>
    </context-param>
    <context-param>
        <description>Location of the Drake Quest Help documents</description> 
        <param-name>help.home</param-name>
        <param-value>/Users/dow/Documents/workspace/CGDEDU/drake-genetics/modules/drake-genetics-server/build/www/Help</param-value>
    </context-param>
    <!-- GWT query servlet -->

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
